@import url('./lato-font');
body {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}


/*... HEADER ...*/

.header {
    position: relative;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2f3b;
    border-bottom: 7px solid #313745;
}

.container.header {
    border-bottom: none;
}

h1 {
    position: absolute;
    top: 25px;
    left: 39px;
    color: #fff;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 6px;
    text-align: left;
    text-transform: uppercase;
}

.logo-star {
    position: absolute;
    left: 146px;
    font-size: 20px;
    top: 11px;
    color: #f16c65;
}

@-moz-document url-prefix() {
    .logo-star {
        position: absolute;
        left: 150px;
        font-size: 20px;
        top: 11px;
        color: #f16c65;
    }
}

.navbar {
    position: absolute;
    right: 55px;
    top: 43px;
    width: 371px;
    display: flex;
}

.navbar-list {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-item,
.item {
    padding-left: 14.5px;
    color: #fff;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-item::before {
    color: #4a4e62;
    content: '·';
    padding-right: 11px;
}

.navbar-item:hover,
.item:hover {
    cursor: pointer;
    color: #f16c65;
}


/*... SLIDER ...*/

.slider-part {
    position: relative;
    height: 593px;
    background-color: #f16c65;
    border-bottom: 7px solid #ea676c;
}

.phone-vertical {
    position: absolute;
    bottom: 15px;
    left: 329px;
    height: 575px;
}

.phone-horizontal {
    position: absolute;
    top: 138px;
    right: 320px;
    height: 317px;
}

.arrow {
    position: absolute;
    top: 279px;
}

.arrow.left {
    left: 289px;
}

.arrow.right {
    right: 287px;
}

.arrow.left:hover,
.arrow.right:hover {
    cursor: pointer;
}


/*... SERVICES ...*/

.services {
    height: 493px;
    background-color: #f2f2f2;
    border-bottom: 7px solid #fff;
}

.services-title {
    margin: 0;
    padding-top: 69px;
    padding-left: 39px;
    color: #666d89;
    font-family: 'Lato-Black', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 18px;
}

.services-description {
    width: 940px;
    height: 57px;
    padding-left: 40px;
    padding-top: 8px;
    font-family: 'Lato-Light', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.0095px;
    text-transform: initial;
    color: #767e9e;
}

.services-list {
    width: 940px;
    padding-top: 19px;
    padding-left: 39px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services-item {
    position: relative;
    margin-bottom: -50px;
    flex-basis: 30%;
    display: flex;
}

.item-image {
    position: relative;
    width: 58px;
    height: 55px;
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
    border: 2px solid #666d89;
    border-radius: 100%;
}

.image-icon {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.pen {
    top: 11px;
    bottom: 9px;
    left: 13px;
    right: 13px;
    width: 35px;
    height: 34px;
}

.bulb {
    top: 9px;
    bottom: 13px;
    left: 16px;
    right: 18px;
    width: 25px;
    height: 36px;
}

.heart {
    top: 12px;
    bottom: 13px;
    left: 12px;
    right: 12px;
    width: 36px;
    height: 33px;
}

.bubble {
    top: 13px;
    bottom: 14px;
    left: 11px;
    right: 11px;
    width: 37px;
    height: 31px;
}

.phone {
    top: 8px;
    bottom: 11px;
    left: 17px;
    right: 16px;
    width: 25px;
    height: 40px;
}

.star {
    top: 11px;
    bottom: 11px;
    left: 12px;
    right: 12px;
    width: 35px;
    height: 34px;
}

.item-title {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Black', sans-serif;
    font-weight: 900;
}

.item-description {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Regular", sans-serif;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: initial;
}

.first .item-image {
    margin-top: 2px;
}

.first .item-title {
    position: absolute;
    top: 1px;
    left: 80px;
}

.first .item-description {
    position: relative;
    top: -6px;
    left: 0px;
}

.second .item-image {
    margin-top: 2px;
    margin-left: 1px;
}

.second .item-title {
    position: absolute;
    top: 1x;
    left: 80px;
}

.second .item-description {
    position: relative;
    left: -2px;
    top: -6px;
}

.third .item-image {
    margin-top: 13px;
}

.third .item-title {
    position: relative;
    top: 12px;
}

.third .item-description {
    padding-top: 4px;
    position: relative;
    top: 4px;
}

.forth .item-image {
    margin-top: 9px;
}

.forth .item-title {
    position: relative;
    top: 8px;
    left: -1px;
    letter-spacing: -0.12px;
}

.forth .item-description {
    position: relative;
    top: -18px;
    left: -1px;
}

.fifth .item-image {
    margin-top: 11px;
}

.fifth .item-title {
    position: relative;
    top: 10px;
    left: -2px;
    letter-spacing: -0.05px;
}

.fifth .item-description {
    padding-top: 4px;
    position: relative;
    top: -20px;
    left: -1px;
}

.sixth .item-image {
    margin-top: 11px;
}

.sixth .item-title {
    position: relative;
    top: 10px;
    letter-spacing: -0.05px;
}

.sixth .item-description {
    padding-top: 4px;
    position: relative;
    top: -20px;
    left: -1px;
}


/*... PORTFOLIO ...*/

.portfolio {
    position: relative;
    height: 863px;
    background-color: #2d2f3b;
    border-bottom: 7px solid #313745;
}

.title {
    margin: 0;
    padding-top: 69px;
    padding-left: 39px;
    color: #666d89;
    font-family: 'Lato-Black', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 18px;
    text-transform: capitalize;
}

.portfolio-title {
    padding-top: 70px;
}

.description {
    width: 940px;
    height: 57px;
    padding-left: 40px;
    padding-top: 8px;
    font-family: 'Lato-Light', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.0095px;
    text-transform: initial;
    color: #757e9d;
}

.portfolio-description {
    padding-top: 9px;
}

.portfolio-navbar {
    position: relative;
    top: -35px;
    height: 18px;
}

.categories-list {
    display: flex;
    padding: 0;
    margin-left: 30px;
    align-items: center;
    justify-content: left;
    list-style: none;
}

.categories-item {
    width: auto;
    margin-left: 10px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    line-height: 19px;
    color: #767e9e;
    font-family: "Lato-Regular";
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.23px;
    border-radius: 5px;
    border: 1px solid #666d89;
}

.categories-item:hover {
    cursor: pointer;
    color: #dedede;
    border-color: #dedede;
}

.portfolio-examples {
    position: relative;
    top: -12px;
    width: 940px;
    height: 619px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
}

.examples-item {
    width: 220px;
    height: 187px;
    overflow: hidden;
}

.portfolio-examples div:nth-child(1) {
    background-image: url(./assets/images/portfolio-part/yellow-submarine.png);
    background-repeat: no-repeat;
    background-position: 47% 24%;
    margin-left: 0;
}

.portfolio-examples div:nth-child(2) {
    background-image: url(./assets/images/portfolio-part/blond-fiona.png);
    background-repeat: no-repeat;
    background-position: 57% 50%;
}

.portfolio-examples div:nth-child(3) {
    background-image: url(./assets/images/portfolio-part/doodling.png);
    background-repeat: no-repeat;
    background-position: 40% 2%;
}

.portfolio-examples div:nth-child(4) {
    background-image: url(./assets/images/portfolio-part/robot.png);
    background-repeat: no-repeat;
    background-position: 60% 35%;
    margin-right: 0;
}

.portfolio-examples div:nth-child(5) {
    background-image: url(./assets/images/portfolio-part/party-in-da-house.png);
    background-repeat: no-repeat;
    background-position: 52% 17%;
    margin-left: 0;
}

.portfolio-examples div:nth-child(6) {
    background-image: url(./assets/images/portfolio-part/sdk-ide-etc.png);
    background-repeat: no-repeat;
    background-position: 41% 45%;
}

.portfolio-examples div:nth-child(7) {
    background-image: url(./assets/images/portfolio-part/spore.png);
    background-repeat: no-repeat;
    background-position: 20% 21%;
}

.portfolio-examples div:nth-child(8) {
    background-image: url(./assets/images/portfolio-part/chickens.png);
    background-repeat: no-repeat;
    background-position: 41% 34%;
    margin-right: 0;
}

.portfolio-examples div:nth-child(9) {
    background-image: url(./assets/images/portfolio-part/green-monstr.png);
    background-repeat: no-repeat;
    background-position: 50% 33%;
    margin-left: 0;
}

.portfolio-examples div:nth-child(10) {
    background-image: url(./assets/images/portfolio-part/lettering.png);
    background-repeat: no-repeat;
    background-position: 55.5% 23.5%;
}

.portfolio-examples div:nth-child(11) {
    background-image: url(./assets/images/portfolio-part/white-monstr.png);
    background-repeat: no-repeat;
    background-position: 74% 77%;
}

.portfolio-examples div:nth-child(12) {
    background-image: url(./assets/images/portfolio-part/something-brown.png);
    background-repeat: no-repeat;
    background-position: 47% 25%;
    margin-right: 0;
}


/*.. ABOUT US ...*/

.about-us {
    height: 726.5px;
    ;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.about-us-title {
    position: relative;
    top: -1px;
}

.people {
    position: relative;
    top: 11px;
    display: flex;
    width: 940px;
    height: 480px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.people-item:nth-child(2) .person-photo {
    position: relative;
    left: -0.5px;
}

.person-photo {
    width: 300px;
    height: 300px;
}

.person-name {
    position: relative;
    top: -4.5px;
    left: -1px;
    color: #666d89;
    font-family: "Lato-Black";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.15px;
    line-height: 17.86px;
    text-transform: capitalize;
    white-space: nowrap;
}

.person-description {
    position: relative;
    top: -12.5px;
    color: #767e9e;
    font-family: "Lato-Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    letter-spacing: -0.08px;
}

.social-links {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.image-container {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border: 1px solid #666d89;
    border-radius: 100%;
    text-decoration: none;
}

.image-container:hover {
    background-color: #fff;
}

.image-container:active {
    background-color: #d6dcf5;
}

.facebook {
    position: relative;
    top: 8px;
    left: 11px;
}

.google,
.linkedin,
.twitter {
    position: relative;
    top: 8px;
    left: 8px;
}


/*... QUOTE-BLOCK ...*/

.quote-block {
    height: 647.5px;
    background-color: #f16c65;
    border-bottom: 7px solid #ea676c;
}

.quote-block-title {
    color: #f0d8d9;
    text-transform: none;
}

.quote-block-description {
    color: #f0d8d9;
}

.layout-columns {
    position: relative;
    top: 28px;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    width: 587px;
    height: 364px;
}

.contact-form input,
.contact-form textarea {
    width: 589px;
    padding: 9px 14px;
    color: #f0d8d9;
    background-color: #d6554f;
    border: 1px solid #d6554f;
    border-radius: 5px;
}

.contact-form textarea {
    height: 188px;
    width: 590px;
    padding: 6px 13px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    position: relative;
    top: 1px;
    color: #f48c8f;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #f0d8d9;
    outline: none;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
    color: #f0d8d9;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.contact-form input:invalid,
.contact-form textarea:invalid {
    color: #f0d8d9;
    background-color: rgba(163, 122, 52, 0.1);
    border: 1px solid #f0d8d9;
    outline: none;
}

.contact-form input:invalid::placeholder,
.contact-form textarea:invalid::placeholder {
    color: #f0d8d9;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}

.submit-button-container {
    position: relative;
    top: -14px;
    min-width: 619px;
}

.contact-form button {
    width: 100%;
    padding: 5px;
    color: #f48c8f;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 21.56px;
    text-transform: uppercase;
    background-color: #d6554f;
    border: none;
    border-radius: 5px;
}

.form-line {
    width: 100%;
    margin-bottom: 16px;
}

.contact-information {
    position: relative;
    width: 301px;
    height: 194px;
    bottom: 101px;
    letter-spacing: -0.05px;
}

.contact-information-title {
    color: #f0d8d9;
    font-family: "Lato-Black", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
}

.contact-information-description {
    position: relative;
    top: -8px;
    color: #f0d8d9;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.005px;
    overflow: hidden;
}

.contact {
    position: relative;
    top: 2px;
    left: -4px;
    display: flex;
    margin: 0;
    color: #f0d8d9;
    font-family: "Lato-Regular", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.6px;
    align-items: center;
}

.contact a {
    color: #f0d8d9;
    text-decoration: none;
}

.icon {
    position: relative;
    left: 5px;
    width: 13px;
    height: 13px;
    margin-right: 15px;
}

.icon-marker {
    background-image: url(./assets/images/quote-block/icon-location.png);
    background-repeat: no-repeat;
    background-position: 37%;
}

.icon-phone {
    background-image: url(./assets/images/quote-block/icon-phone.png);
    background-repeat: no-repeat;
}

.icon-letter {
    background-image: url(./assets/images/quote-block/icon-letter.png);
    background-repeat: no-repeat;
    background-position: 0%;
}


/*... FOOTER ...*/

.footer {
    height: 76px;
    background-color: #2d2f3b;
}

.container.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    margin: 0;
    margin-left: 41px;
    margin-top: -1px;
    padding: 0;
    color: #666d89;
    font-family: "Lato-Light", sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: -0.5px;
}

.footer .social-links {
    width: auto;
    height: 32px;
    display: flex;
    margin-right: 33px;
    align-items: center;
    justify-content: space-between;
}