@import url('./lato-font');
body {
    width: 100%;
    margin: 0 auto;
}

.container {
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}


/*... HEADER ...*/

.header {
    position: relative;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2f3b;
    border-bottom: 7px solid #313745;
}

.container.header {
    border-bottom: none;
}


/* .logo-text {
    width: 200px;
} */

h1 {
    position: absolute;
    top: 25px;
    left: 39px;
    color: #fff;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 6px;
    text-align: left;
    text-transform: uppercase;
}

.logo-star {
    position: absolute;
    left: 146px;
    font-size: 20px;
    top: 11px;
    color: #f16c65;
}

@-moz-document url-prefix() {
    .logo-star {
        position: absolute;
        left: 150px;
        font-size: 20px;
        top: 11px;
        color: #f16c65;
    }
}

.navbar {
    position: absolute;
    right: 55px;
    top: 43px;
    width: 371px;
    display: flex;
}

.navbar-list {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar-item,
.item {
    padding-left: 14.5px;
    color: #fff;
    font-family: 'Lato-Bold', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-item::before {
    color: #4a4e62;
    content: '·';
    padding-right: 11px;
}

.navbar-item:hover,
.item:hover {
    cursor: pointer;
    color: #f16c65;
}


/*... SLIDER ...*/

.slider-part {
    position: relative;
    height: 593px;
    background-color: #f16c65;
    border-bottom: 7px solid #ea676c;
}

.phone-vertical {
    position: absolute;
    bottom: 15px;
    left: 329px;
    height: 575px;
}

.phone-horizontal {
    position: absolute;
    top: 138px;
    right: 320px;
    height: 317px;
}

.arrow {
    position: absolute;
    top: 279px;
}

.arrow.left {
    left: 289px;
}

.arrow.right {
    right: 287px;
}

.arrow.left:hover,
.arrow.right:hover {
    cursor: pointer;
}


/*... SERVICES ...*/

.services {
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: 7px solid #fff;
}

.services-title {
    margin: 0;
    padding-top: 69px;
    padding-left: 39px;
    color: #666d89;
    font-family: 'Lato-Black', sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 18px;
}

.services-description {
    width: 940px;
    height: 57px;
    padding-left: 40px;
    padding-top: 8px;
    font-family: 'Lato-Light', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.0095px;
    text-transform: initial;
    color: #767e9e;
}

.services-list {
    width: 940px;
    padding-top: 19px;
    padding-left: 39px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services-item {
    position: relative;
    margin-bottom: -50px;
    flex-basis: 30%;
    display: flex;
}

.item-image {
    position: relative;
    width: 58px;
    height: 55px;
    margin: 0;
    margin-right: 20px;
    margin-top: 10px;
    border: 2px solid #666d89;
    border-radius: 100%;
}

.image-icon {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
}

.pen {
    top: 11px;
    bottom: 9px;
    left: 13px;
    right: 13px;
    width: 35px;
    height: 34px;
}

.bulb {
    top: 9px;
    bottom: 13px;
    left: 16px;
    right: 18px;
    width: 25px;
    height: 36px;
}

.heart {
    top: 12px;
    bottom: 13px;
    left: 12px;
    right: 12px;
    width: 36px;
    height: 33px;
}

.bubble {
    top: 13px;
    bottom: 14px;
    left: 11px;
    right: 11px;
    width: 37px;
    height: 31px;
}

.phone {
    top: 8px;
    bottom: 11px;
    left: 17px;
    right: 16px;
    width: 25px;
    height: 40px;
}

.star {
    top: 11px;
    bottom: 11px;
    left: 12px;
    right: 12px;
    width: 35px;
    height: 34px;
}

.item-title {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: 'Lato-Black', sans-serif;
    font-weight: 900;
}

.item-description {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato-Regular", sans-serif;
    font-weight: 400;
    text-align: left;
    overflow: hidden;
    text-overflow: initial;
}

.first .item-image {
    margin-top: 2px;
}

.first .item-title {
    position: absolute;
    top: 1px;
    left: 80px;
}

.first .item-description {
    position: relative;
    top: -6px;
    left: 0px;
}

.second .item-image {
    margin-top: 2px;
    margin-left: 1px;
}

.second .item-title {
    position: absolute;
    top: 1x;
    left: 80px;
}

.second .item-description {
    position: relative;
    left: -2px;
    top: -6px;
}

.third .item-image {
    margin-top: 13px;
}

.third .item-title {
    position: relative;
    top: 12px;
}

.third .item-description {
    padding-top: 4px;
    position: relative;
    top: 4px;
}

.forth .item-image {
    margin-top: 9px;
}

.forth .item-title {
    position: relative;
    top: 8px;
    left: -1px;
    letter-spacing: -0.12px;
}

.forth .item-description {
    position: relative;
    top: -18px;
    left: -1px;
}

.fifth .item-image {
    margin-top: 11px;
}

.fifth .item-title {
    position: relative;
    top: 10px;
    left: -2px;
    letter-spacing: -0.05px;
}

.fifth .item-description {
    padding-top: 4px;
    position: relative;
    top: -20px;
    left: -1px;
}

.sixth .item-image {
    margin-top: 11px;
}

.sixth .item-title {
    position: relative;
    top: 10px;
    letter-spacing: -0.05px;
}

.sixth .item-description {
    padding-top: 4px;
    position: relative;
    top: -20px;
    left: -1px;
}