@charset "UTF-8";

/* ... Abstract ... */


/* ... geometric sizes ... */

.active,
.navbar-item:hover,
.item:hover {
    transition: all 0.3s ease-out;
}

.slide {
    transition: all ease 1s;
}

h1,
body {
    font-family: "Lato", "Verdana", sans-serif;
}


/* ... Base ... */

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    line-height: 2.6rem;
    width: 100%;
    margin: auto;
}

h1 {
    position: relative;
    top: 22px;
    bottom: auto;
    left: 39px;
    right: auto;
    font-size: 2.5rem;
    font-weight: bold;
    font-style: normal;
    line-height: 0.6rem;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

@media (max-width: 375px) {
    h1 {
        font-size: 2rem;
        font-weight: bold;
        font-style: normal;
        line-height: 2.4rem;
    }
}

.title {
    margin: 0;
    padding: 69px 0 0 39px;
    color: #666d89;
    font-size: 3rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1.8rem;
    text-transform: capitalize;
}

.description {
    width: 940px;
    height: 57px;
    padding: 8px 0 0 40px;
    font-size: 1.8rem;
    font-weight: 300;
    font-style: normal;
    line-height: 3rem;
    letter-spacing: -0.0095px;
    text-transform: initial;
    text-align: justify;
    color: #767E9E;
}

.phone-container.vertical {
    width: 265px;
    height: 600px;
    margin-left: 101px;
    display: inline-block;
}

.phone-container.horizontal {
    width: 535px;
    height: 600px;
    display: inline-block;
    margin-left: 34px;
}

.phone-vertical {
    position: relative;
    top: auto;
    bottom: -3px;
    left: -22px;
    right: auto;
    height: 575px;
}

.phone-horizontal {
    position: relative;
    top: 136px;
    bottom: auto;
    left: auto;
    right: 14px;
    height: 317px;
}

.vertical-off {
    position: relative;
    top: auto;
    bottom: -52px;
    left: 11px;
    right: auto;
    height: 483px;
    width: 240px;
}

.horizontal-off {
    position: relative;
    top: 174px;
    bottom: auto;
    left: auto;
    right: -25px;
    width: 484px;
    height: 240px;
}

.arrow {
    position: absolute;
    top: 278px;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 4;
}

.arrow:hover {
    cursor: pointer;
}

.arrow.left {
    left: 40px;
}

.arrow.right {
    right: 37px;
}

.hidden {
    display: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.image-icon {
    display: inline-block;
    vertical-align: middle;
}

.pen {
    position: absolute;
    top: 11px;
    bottom: 9px;
    left: 13px;
    right: 13px;
    width: 35px;
    height: 34px;
}

.bulb {
    position: absolute;
    top: 9px;
    bottom: 13px;
    left: 16px;
    right: 18px;
    width: 25px;
    height: 36px;
}

.heart {
    position: absolute;
    top: 12px;
    bottom: 13px;
    left: 12px;
    right: 12px;
    width: 36px;
    height: 33px;
}

.bubble {
    position: absolute;
    top: 13px;
    bottom: 14px;
    left: 11px;
    right: 11px;
    width: 37px;
    height: 31px;
}

.phone {
    position: absolute;
    top: 8px;
    bottom: 11px;
    left: 17px;
    right: 16px;
    width: 25px;
    height: 40px;
}

.star {
    position: absolute;
    top: 11px;
    bottom: 11px;
    left: 12px;
    right: 12px;
    width: 35px;
    height: 34px;
}

.icon {
    position: relative;
    top: auto;
    bottom: auto;
    left: 5px;
    right: auto;
    width: 13px;
    height: 13px;
    margin-right: 15px;
}

.icon-marker {
    background-image: url("../../assets/images/quote-block/icon-location.png");
    background-repeat: no-repeat;
    background-position: 37%;
}

.icon-phone {
    background-image: url("../../assets/images/quote-block/icon-phone.png");
    background-repeat: no-repeat;
}

.icon-letter {
    background-image: url("../../assets/images/quote-block/icon-letter.png");
    background-repeat: no-repeat;
    background-position: 0%;
}

.examples-list {
    height: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
}

.examples-item {
    width: 210px;
    height: 177px;
    margin-bottom: 20px;
    border: 5px solid transparent;
    overflow: hidden;
    cursor: pointer;
}

.examples-item:hover {
    border: 5px solid #f06c64;
    cursor: pointer;
}

.active-example {
    border: 5px solid #f06c64;
}

.social-links {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.image-container {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border: 1px solid #666d89;
    border-radius: 100%;
    text-decoration: none;
}

.image-container:hover {
    background-color: #ffffff;
}

.image-container:active {
    background-color: #d6dcf5;
}

.facebook {
    position: relative;
    top: 3px;
    bottom: auto;
    left: 11px;
    right: auto;
}

.google,
.linkedin {
    position: relative;
    top: 3px;
    bottom: auto;
    left: 8px;
    right: auto;
}

.twitter {
    position: relative;
    top: 2px;
    bottom: auto;
    left: 8px;
    right: auto;
}

.hamburger__line,
.hamburger:after,
.hamburger:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    height: 3px;
}

.hamburger {
    display: none;
    position: relative;
    width: 25px;
    height: 20px;
    margin-right: 37px;
}

@media (max-width: 375px) {
    .hamburger {
        display: inline-block;
    }
}

.hamburger:before {
    top: 0;
    left: 0;
}

.hamburger:after {
    bottom: 0;
    left: 0;
}

.hamburger__line {
    top: calc(50% - 1.5px);
    left: 0;
}


/* ... Layouts ... */

.container {
    max-width: 1020px;
    margin: auto;
}

@media (max-width: 1020px) {
    .container {
        padding: 0 40px;
    }
}

@media (max-width: 375px) {
    .container {
        padding: 0 30px;
    }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: auto;
    left: auto;
    right: auto;
    background-color: #2d2f3b;
    border-bottom: 7px solid #313745;
    z-index: 5;
}

@media (max-width: 768px) {
    .header {
        max-width: 768px;
    }
}

@media (max-width: 375px) {
    .header {
        max-width: 375px;
    }
}

.mask {
    max-width: 1020px;
    max-height: 83px;
    position: relative;
    top: 0;
    bottom: auto;
    left: auto;
    right: auto;
    background-color: #2d2f3b;
    border-bottom: 7px solid #313745;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header-container {
        padding-left: 24px;
    }
}

.logo-star {
    position: relative;
    top: -14px;
    bottom: auto;
    left: 146px;
    right: auto;
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    line-height: 2rem;
    color: #f16c65;
}

@media (max-width: 375px) {
    .logo-star {
        position: relative;
        top: -20px;
        bottom: auto;
        left: 126px;
        right: auto;
    }
}

@-moz-document url-prefix() {
    .logo-star {
        position: relative;
        top: 11px;
        bottom: auto;
        left: 150px;
        right: auto;
        font-size: 2rem;
        font-weight: bold;
        font-style: normal;
        line-height: 2rem;
        color: #f16c65;
    }
}

@media (max-width: 375px) {
    .logo-text {
        max-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .logo-text div {
        margin-left: 100px;
    }
}

.header__hamburger {
    margin-right: 37px;
}

@media (max-width: 375px) {
    .header__hamburger {
        position: absolute;
        left: 0;
    }
}

.footer {
    height: 76px;
    background-color: #2d2f3b;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    margin: 0;
    margin: -1px 0 0 41px;
    padding: 0;
    color: #666d89;
    font-size: 1.3rem;
    font-weight: 300;
    font-style: normal;
    line-height: 1.3rem;
    letter-spacing: -0.5px;
}


/* ... Components ... */

@media (max-width: 375px) {
    .navbar {
        display: none;
    }
}

.navbar-list {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2rem;
}

.navbar-item,
.item {
    list-style: none;
    padding-left: 14.5px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-item:hover,
.item:hover {
    cursor: pointer;
    color: #f16c65;
}

.navbar-item::before {
    color: #4a4e62;
    content: "·";
    padding-right: 11px;
}

.item {
    list-style: none;
}

.active {
    color: #f16c65;
}

.slider-part {
    height: 593px;
    background-color: #f16c65;
    border-bottom: 7px solid #ea676c;
}

.slider-part.container {
    position: relative;
}

.slider {
    position: relative;
    width: 1020px;
    height: 600px;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    display: flex;
    opacity: 1;
}

.slide.second {
    height: 100%;
}

.slide.second img {
    height: 98.8%;
    width: 100%;
}

.opacity0 {
    display: none;
}

.slide {
    z-index: 0;
}

.services {
    height: 493px;
    background-color: #f2f2f2;
    border-bottom: 7px solid #ffffff;
}

.services-list {
    width: 940px;
    padding: 19px 0 0 39px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services-item {
    position: relative;
    flex-basis: 30%;
    display: flex;
}

.item-image {
    position: relative;
    width: 58px;
    height: 55px;
    margin: 0;
    margin: 10px 20px 0 0;
    border: 2px solid #666d89;
    border-radius: 100%;
}

.item-title {
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1.8rem;
    color: #666d89;
}

.item-description {
    margin: 0;
    width: 219px;
    height: 82px;
    margin-top: 7px;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2rem;
    color: #767E9E;
    text-align: justify;
    overflow: hidden;
    text-overflow: initial;
}

.portfolio {
    position: relative;
    height: 863px;
    background-color: #2d2f3b;
    border-bottom: 7px solid #313745;
}

.portfolio-title {
    padding-top: 70px;
}

.portfolio-description {
    position: relative;
    top: -1px;
    bottom: auto;
    left: auto;
    right: auto;
    padding-top: 9px;
}

.portfolio-navbar {
    position: relative;
    top: -35px;
    bottom: auto;
    left: auto;
    right: auto;
    height: 18px;
}

.categories-list {
    display: flex;
    padding: 0;
    margin-left: 30px;
    align-items: center;
    justify-content: left;
    list-style: none;
}

.categories-item {
    width: auto;
    margin-left: 10px;
    padding: 0 7px;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.9rem;
    color: #767E9E;
    text-align: left;
    letter-spacing: -0.23px;
    border-radius: 5px;
    border: 1px solid #666d89;
}

.active-tab {
    color: #DEDEDE;
    border-color: #DEDEDE;
}

.categories-item:hover {
    cursor: pointer;
    color: #DEDEDE;
    border-color: #DEDEDE;
}

.portfolio-examples {
    position: relative;
    top: -12px;
    bottom: auto;
    left: auto;
    right: auto;
    width: 940px;
    height: 619px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
}

.about-us {
    height: 726.5px;
    background-color: #f2f2f2;
    border-bottom: 7px solid #ffffff;
}

.about-us-title {
    position: relative;
    top: -1px;
    bottom: auto;
    left: auto;
    right: auto;
}

.people {
    position: relative;
    top: 11px;
    bottom: auto;
    left: auto;
    right: auto;
    display: flex;
    width: 940px;
    height: 480px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.people-item:nth-child(2) .person-photo {
    position: relative;
    top: auto;
    bottom: auto;
    left: -0.5px;
    right: auto;
}

.person-photo {
    width: 300px;
    height: 300px;
}

.person-name {
    position: relative;
    top: -4.5px;
    bottom: auto;
    left: -1px;
    right: auto;
    max-width: 300px;
    color: #666d89;
    font-size: 1.8rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1.8rem;
    letter-spacing: -0.15px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
}

.person-description {
    position: relative;
    top: -12.5px;
    bottom: auto;
    left: auto;
    right: auto;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2rem;
    color: #767E9E;
    letter-spacing: -0.08px;
    max-width: 300px;
    text-align: justify;
}

.quote-block {
    height: 647.5px;
    background-color: #f16c65;
    border-bottom: 7px solid #ea676c;
}

.quote-block-title {
    color: #f0d8d9;
    text-transform: none;
}

.quote-block-description {
    color: #f0d8d9;
}

.layout-columns {
    position: relative;
    top: 28px;
    bottom: auto;
    left: auto;
    right: auto;
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-form {
    width: 587px;
    height: 364px;
}

.contact-form button {
    width: 23%;
    padding: 11px 0;
    color: #886A30;
    font-size: 1.4rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.7rem;
    text-transform: uppercase;
    background-color: #FBC65F;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 589px;
    padding: 9px 14px;
    color: #f0d8d9;
    background-color: #d6554f;
    border: 1px solid #d6554f;
    border-radius: 5px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    position: relative;
    top: 1px;
    bottom: auto;
    left: auto;
    right: auto;
    color: #f48c8f;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #f0d8d9;
    outline: none;
}

.contact-form input:focus::placeholder,
.contact-form textarea:focus::placeholder {
    color: #f0d8d9;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2rem;
}

.contact-form input:invalid,
.contact-form textarea:invalid {
    color: #f0d8d9;
    background-color: rgba(163, 122, 52, 0.1);
    border: 1px solid #f0d8d9;
    outline: none;
}

.contact-form input:invalid::placeholder,
.contact-form textarea:invalid::placeholder {
    color: #f0d8d9;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2rem;
}

.contact-form textarea {
    height: 188px;
    width: 590px;
    padding: 6px 13px;
    resize: none;
}

.submit-button-container {
    position: relative;
    top: -14px;
    bottom: auto;
    left: auto;
    right: auto;
}

.contact-form .form-line {
    width: 100%;
    margin-bottom: 16px;
}

.contact-information {
    position: relative;
    top: auto;
    bottom: 101px;
    left: auto;
    right: auto;
    max-width: 301px;
    height: 194px;
    letter-spacing: -0.05px;
}

.contact-information-title {
    color: #f0d8d9;
    font-size: 1.8rem;
    font-weight: 900;
    font-style: normal;
    line-height: 1.8rem;
}

.contact-information-description {
    position: relative;
    top: -8px;
    bottom: auto;
    left: auto;
    right: auto;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2rem;
    color: #f0d8d9;
    letter-spacing: -0.005px;
    text-align: justify;
    overflow: hidden;
}

.contact {
    position: relative;
    top: 2px;
    bottom: auto;
    left: -4px;
    right: auto;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.2rem;
    display: flex;
    margin: 0;
    color: #f0d8d9;
    align-items: center;
}

.contact a {
    color: #f0d8d9;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 500px;
    min-height: 40%;
    max-height: 120px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.modal--close-button {
    position: relative;
    top: 50px;
    bottom: auto;
    left: auto;
    right: auto;
    width: 50%;
    margin: 20px auto;
    color: #f8f8f8;
    font-family: "Lato-Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    background-color: #FBC65F;
    box-shadow: 5px 6px 13px 3px #d3d3d3;
    cursor: pointer;
}

.modal-title {
    position: relative;
    top: auto;
    bottom: auto;
    left: 35px;
    right: auto;
}

.text {
    position: relative;
    top: 30px;
    bottom: auto;
    left: auto;
    right: auto;
    font-weight: 400;
    max-width: 80%;
    margin: 5px auto;
    color: #474c60;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/*# sourceMappingURL=style.css.map */